@use "@angular/material" as mat;

.cinema-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  align-content: center;
  .title {
    display: grid;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #00993a;
    color: #fff;
  }

  mat-card-header {
    margin-bottom: 16px;
    font-size: 1.3rem;
  }
  .card-container {
    padding: 24px;
    .button-bar {
      display: flex;
      justify-content: flex-end;
    }
  }

  .action-buttons {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
  }

  .striped {
    background-color: rgba(#00993a, 0.1);
  }
}
