<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-title class="dialog-header">Add cinema</div>
  <mat-dialog-content style="padding-top: 16px">
    <mat-form-field>
      <mat-label>Cinema name</mat-label>
      <input formControlName="name" matInput placeholder="Cinema name" />
      @if(form.get('name')?.hasError('required') || form.get('name')?.touched){
      <mat-error>This is a required field.</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div>
      <div>
        <button matButton="text" (click)="cancel()">Cancel</button>
        <button matButton="filled" [disabled]="!form.valid">Save</button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
